@model List<UserDTO>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Menu.cshtml";
}

<form method="post">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (UserDTO item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>
                        <input type="submit" value="Add Role" class="btn btn-primary" asp-action="UserRole" asp-route-UserId="@item.Id">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>